/*  Start Body*/
body{
  font-size: 16px;
  color: #fff;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
}
.row-p0 {
  overflow: hidden;
  text-align: center;
}
.row-p3 {
  margin-left: 3%;
  margin-right: 3%;  
  text-align: center;
  overflow: hidden;
}
.row-p5 {
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
}
.frc-video {
  overflow: hidden; 
  text-align: center;
  margin: 0px auto;
}
.page-header {
  padding: 0px 0px 10px 0px;
  overflow: hidden;   
  margin-top: 30px;
}
.row-p5C {
  margin-top: 0px;
  margin-bottom: 15px;
  overflow: hidden;
  text-align: center;
}
/*  End Body*/

/* Start Header */
/* Start Language Mode */
.language-mode { float: right; margin: 0; padding: 0; }
.language-mode li { float: left; display: inline; margin: 0; padding: 0; margin-right: 5px; }
.language-mode li:last-child { margin-right: 0; }
.language-mode li a { float: left; width: 66px; height: 33px; background-position:top; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; }
.language-mode li a:hover { background-position:bottom; }
.language-img {background: url('../image/icon/encn.png') no-repeat; }
/* End Language Mode */

/* Start Nav Bar */
.navbar{
  position:relative;
  min-height:50px;
  margin-bottom:0px;
  border:1px solid transparent;
}
#nav-list {
  font-size: 20px;
  padding: 10px 10px 0px 0px;
}
#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 12px;
  margin-right: 50px;
  margin-left: 5px;
}
/* End Nav Bar */
/* End Header */

/* Start Home-Banner */
.home-banner-title {  
  padding-bottom: 80px;
  font-size: 5em;
  color: #CF0606;
}
.home-banner-par {
  font-size: 2.2em;
  color: #0F0CA6;
  font-style: italic;
  font-weight: 700;
}
.home-banner-btn {
  margin-top: 1000px;
  border-color: #E7E7E7;
  border-radius: 45px;
  border-width: 2px;
  width: 200px;
  height: 55px;
  font-size: 22px;
  text-align: center;
}
.home-banner-btn:hover {
    display: block;
    background-color: Transparent;
    border-width: 4px;
    border-color: #E7E7E7;
    width: 215px;
    height: 60px;
    font-size: 1.7em;   
    margin: 0px auto;
    margin-top: 100px;
    text-align: center;    
}
.carousel-caption {
  margin-bottom: 4%;        
}
/* End Home-Banner */

/* Start Home Team Leaders */
.team-leader {
  padding: 5% 5% 0 5%;
}
/* End Home Team Leaders */

/* Start Home Contact Us */
.home-contact {
  margin-top: 50px;
}
.home-contact-title {
  padding-top: 3%;
  padding-bottom: 25px;
  margin-top: 0px;
  color: #000;
  font-size: 4em;
}
.home-contact-par {
  padding-top: 1%;
  padding-bottom: 25px;
  margin-top: 0px;
  color: #000;
  font-size: 2em;
}

.home-contact-btn {
  margin-top: 3%;
  border-color: #E7E7E7;
  border-radius: 45px;
  border-width: 2px;
  width: 200px;
  height: 55px;
  font-size: 22px;
} 
.home-contact-btn2 {
  margin-top: 10%;
  border-color: #3071a9;
  border-radius: 45px;
  border-width: 2px;
  width: 200px;
  height: 55px;
  font-size: 22px;
} 
.home-contact-btn:hover {
    display: block;
    background-color: Transparent;
    background: #3071a9;
    width: 220px;
    height: 65px;
    font-size: 1.8em;
    margin: 0px auto;
}
/* End Home Contact Us */

/* Start Sponsor */
.sponsor-content {
  color: #000;
  overflow: hidden;
  margin: 2% 0px;
}
.sponsor-img0 {
  overflow: hidden;
  margin: 1% 0px;
}
.sponsor-img1 {
  overflow: hidden;
  margin: 7% 0px;
}
.sponsor-img2 {
  overflow: hidden;
  text-align: center;
  margin: 4% 0px;
}
.sponsor-img3 {
  overflow: hidden;
  margin: 1.5% 0px;
}
.sponsor-img4 {
  overflow: hidden;
  margin: 0% 0px;
}
.sponsor-img5 {
  overflow: hidden;
  margin: 0% 0px;
}
/* End Sponsor */

/* Start FRC  */
.frc-content {
  color: #000;
  overflow: hidden;
}
/* End FRC */

/* start-blog */
.blog-banner {
  background: url('../image/b0.jpg') no-repeat;
  height: 250px;
}
.blog-banner-title {
  padding-top: 2%;
  padding-bottom: 10px;
  margin-top: 0px;
}
#blog-user-btn {
  background-color:transparent;
}
.blog-banner-btn {
  margin-top: 40px;
  border-color: #E7E7E7;
  border-radius: 45px;
  border-width: 2px;
  width: 180px;
  height: 50px;
  font-size: 22px;
}
.blog-banner-btn:hover {
    display: block;
    background-color: Transparent;
    background: #3071a9;
    width: 200px;
    height: 60px;
    font-size: 1.8em;
    margin: 0px auto;
    margin-top: 90px;
}
.blog-banner-info {
  font-size: 0.7em;
  color: #fff;
  border-color: #E7E7E7;
  font-style: italic;
  margin-bottom: 0px;
  margin-top: 8px;
  overflow: hidden;
}
.blog-frame {
  padding-left: 10px;
  padding-right: 10px;
}
.blog-img {
  display: block;
  margin-bottom: 50px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.blog-date {
  color: #000;
  overflow: hidden;
  text-align: center;
}
.blog-title {
  font-size: 1.3em;
  color: #000;
  padding-top: 0px;
  overflow: hidden;
}
.blog-user {
  font-size: 0.8em;
  border-color: #E7E7E7;
  font-style: italic;
  margin-bottom: 0px;
  margin-top: 8px;
  overflow: hidden;
}
.blog-comment {
  font-size: 0.8em;
  color: #000;
  font-style: italic;
  margin-bottom: 0px;
  margin-top: 8px;
  overflow: hidden;
}
.blog-up {
  font-size: 0.8em;
  color: #000;
  font-style: italic;
  margin-bottom: 0px;
  margin-top: 8px;
  overflow: hidden;
}
.blog-content {
  color: #000;
  padding: 20px 15px 0px 15px;
  text-align: left;
  overflow: hidden;
}
.blog-line {
  margin: 0px 0px 10px 0px;
  padding-bottom: 10px !important;
  overflow: hidden;
}
.blog-line2 {
  border-color: #ffffff;
  padding-bottom: 0px !important;
  overflow: hidden;
}
.blog-btn {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}
.blogdate { float: left; width: 60px; margin-top: 0px; margin-right: 30px; background: #fff; border-bottom: 1px solid #ddd; -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
.blogdate .month { font-size: 12px; line-height: 12px; padding-top: 3px; padding-bottom: 4px; font-weight: bold; color: #fff; background: #34b489; width: 100%; float: left; text-align: center; }
.blogdate .day { font-weight: bold; font-size: 30px; line-height: 30px; padding-top: 1px; padding-bottom: 0px; width: 100%; float: left; text-align: center; }
.blogdate .year { font-size: 12px; line-height: 12px; padding-bottom: 4px; width: 100%; float: left; text-align: center; }
.blogdate span { float: left; font-size: 12px; line-height: 12px; font-weight: bold; color: #777; margin-top: -3px; padding-bottom: 8px; }
.blog-nav {
  text-align: center;
  padding: 10px 0px 15px 0px;
}
.blog-banner-pre-btn {
  margin-top: 2%;
  border-color: #3071a9;
  border-radius: 45px;
  border-width: 2px;
  width: 200px;
  height: 55px;
  font-size: 22px;
} 
.blog-banner-pre-btn:hover {
  background-color: Transparent;
  background: #3071a9;
  font-size: 24px;
}
/* start-blog */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
}
.footer-last {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #111;
  color: #ff;
  text-decoration: none;
}
.footer-last a:link {
text-decoration: none;
}
.footer-last a:visited {
text-decoration: none;
}
.footer-last a:hover{
  text-decoration: none;
}
.footer-last a:active {
text-decoration: none;
}
.panel-footer div.row {
  margin-bottom: 15px;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* frc-start */

.panel-group {
  color: #000;
  width: 75%;
  overflow: hidden;
  margin: 0px auto;
}
.row-3 {
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;  
}

#f-video {
  overflow: hidden; 
  text-align: center;
  margin: 0px auto;
  height=200;
  width=800;
}

/*start Team */
.team-member-img{
  padding-top: 25px;
}
.team-contact {
  color: #000;
  padding-left: 5%;
  padding-right: 5%;
}
/*end team  */

/* start-map */
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.map-show {
  color: #000;
  padding-left: 0%;
  padding-right: 0%;
}
/* end-map */